<h1 class="my-3 text-primary">Listar Produtos
    <button type="button" routerLink="/produtos/cadastrar" class="btn btn-success mt-2 float-end">Cadastrar</button>
</h1>


<div class="card shadow">
    <table class="table table-responsive table striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Validade</th>
                <th>Valor</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @for (prod of listarProdutos; track prod.id) {
            <tr>
                <td>{{prod.id}}</td>
                <td>{{prod.nome}}</td>
                <td>{{prod.validade | date: 'shortDate'}}</td>
                <td>{{prod.precoProduto | currency: 'BRL'}}</td>
                <td>
                    <button class="btn btn-warning">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button class="btn btn-danger ms-2">
                        <i class="fas fa-trash"></i>
                    </button>
                </td>
            </tr>
        }
        @empty 
        {
             <tr>
                <td colspan="4"> Nenhum curso disponivel no momento.</td>
             </tr>
        }
        </tbody>
    </table>
</div>